<div class="weather-card-detailed">
  <div class="weather-header">
    <div class="location-info">
      <h2 class="location-name">{{ location()?.name || 'Loading...' }}</h2>
      <p class="location-region">{{ location()?.region }}, {{ location()?.country }}</p>
    </div>
    <div class="current-weather">
      <div class="temp-time-wrapper">
        <div class="current-time">
          <sup class="timezone-label">Timezone: {{ location()?.tz_id}}</sup>
          {{ currentTime()}}
        </div>
        <div class="current-temp">
          <sup class="temp-label">Current Temperature:</sup>
          {{ currentWeather()?.temp_c }}°C
        </div>
      </div>
      <div class="weather-condition">
        <img [src]="currentWeather()?.condition?.icon" alt="Weather condition" class="condition-icon">
        <span class="condition-text">{{ currentWeather()?.condition?.text }}</span>
      </div>
    </div>
  </div>
  
  <div class="chart-and-stats-container">
    <div class="chart-section">
      <div class="chart-row">
        <div class="chart-container">
          <app-line-chart 
            [forecastDays]="allForecastDays()" 
            [selectedDayIndex]="selectedDayIndex()"
            [chartType]="selectedChartType()"
            [locationTime]="locationLocalTime()">
          </app-line-chart>
        </div>
        <app-chart-selector
          [selectedType]="selectedChartType()"
          (chartTypeChanged)="onChartSelected($event)">
        </app-chart-selector>
      </div>
      <app-day-selector 
        [forecastDays]="allForecastDays()"
        [selectedIndex]="selectedDayIndex()"
        (daySelected)="onDaySelected($event)">
      </app-day-selector>
    </div>
    
    <div class="weather-stats">
      <div class="stat-item">
        <span class="stat-label">Feels like</span>
        <span class="stat-value">{{ currentWeather()?.feelslike_c }}°C</span>
      </div>
      <div class="stat-item">
        <span class="stat-label">Humidity</span>
        <span class="stat-value">{{ currentWeather()?.humidity }}%</span>
      </div>
      <div class="stat-item">
        <span class="stat-label">Wind</span>
        <span class="stat-value">{{ currentWeather()?.wind_kph }} km/h</span>
      </div>
      <div class="stat-item">
        <span class="stat-label">UV Index</span>
        <span class="stat-value">{{ currentWeather()?.uv }}</span>
      </div>
      <div class="stat-item">
        <span class="stat-label">Pressure</span>
        <span class="stat-value">{{ currentWeather()?.pressure_mb }} mb</span>
      </div>
      <div class="stat-item">
        <span class="stat-label">Visibility</span>
        <span class="stat-value">{{ currentWeather()?.vis_km }} km</span>
      </div>
    </div>
  </div>
</div>